@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');

/*Background*/
@property --startColor {
    syntax: "<color>";
    initial-value: #ffffff;
    inherits: false;
    }

@property --endColor {
    syntax: "<color>";
    initial-value: #000000;
    inherits: false;
    }
    
    @keyframes gradient {
        0%,100% {
            --startColor: #ff7a7a;
            --endColor: #6c6c6c;
        }
        20% {
            --startColor: #6c6c6c;
            --endColor: #000000;
        }
        40% {
            --startColor: #000000;
            --endColor: #5b0000;
        }
        60% {
            --startColor: #5b0000;
            --endColor: #ff0000;
        }
        80% {
            --startColor: #ff0000;
            --endColor: #ff7a7a;
        }
    }

/*html:has(.can>.drawer>input.coolBG:checked) {
    background: linear-gradient(320deg, var(--startColor), var(--endColor));
    animation: gradient 6s linear infinite;
}*/

html {
    background:#141414;
    color:white;
}

.orbit-font {
    font-family:"Orbitron", sans-serif;
}

.jrsy-font {
    font-family:"Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.micro-font {
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*Special Effects*/

.effectBox {
    background: rgba(0, 0, 0, 0.295);

    padding:8px;
    border-radius:15px;
}

.effectBox > .can > h1 {
    margin:0px;
}

/*Schedule Colors*/

.rbtext {
    background: linear-gradient(90deg, rgb(255, 169, 169) 40%, rgb(255, 255, 255) 80%);
    -webkit-background-clip: text;
    background-clip:text;
    color:transparent;
}

.greentext {
    background:none;
    -webkit-background-clip: none;
    background-clip:none;
    color:rgb(234, 255, 204);
}

.bluetext {
    background:none;
    -webkit-background-clip: none;
    background-clip:none;
    color:rgb(164, 164, 255);
}