/*Basic Layout*/
body {
    display: flex;
    justify-content: center;
    flex-wrap:nowrap;
    align-items:center;
    text-align: center;
    min-height: 100vh;
    font-size:20px;
}

.can {
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.drawer {
    display:flex;
    flex-direction:row;
    justify-content:center;
}